*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../assets/images/background.webp") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.construction-window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    width: 100vw;
    max-width: 95%;
    
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 700px;
    height: 70vh;
    max-height: 1000px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.787);
    padding: 1rem;
}

.content-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    min-height: 70%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.787);
    text-align: center;
}

.construction-window h1{
    color: white;
    margin: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.timer-box{
    margin: 2rem;
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}

.us{

    width: 550px; 
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    min-height: 40vh;
}

.item{
    text-align: center;
    height: 100%;
    width: 100%;
    border-right: 2px solid white;
    margin-bottom: 2rem;
}

.item h3{
    font-size: 1.3rem;
}

.santiago{
    text-align: center;
    height: 100%;
    width: 100%;
}

.santiago h3{
    font-size: 1.3rem;
}
p{
    color: rgba(212, 212, 212, 0.954);
}
 h2, h3{
    color: white;
}

h3{
    font-size: 1rem;
}
.day, .hour, .min, .sec{
    font-size: 2.5rem;
}
a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}
a:hover{
    color: rgb(126, 195, 255);
}